package jp.co.sample;

/**
 * 【クラスの説明を記載してください】
 * 
 * @author 【作成者名を記載してください】
 * 
 * @version 【バージョンを記載してください】
 * @since 【バージョンを記載してください】
 */
@Repository
public class {{classObject.pascalClassname}}Dao extends DaoBase {

    // TODO バージョン、作成者名を記入し、フォーマッターを適用後にこちらのコメントを削除してください。
}