package jp.co.sample;

/**
 * 【クラスの説明を記載してください】
 * 
 * @author 【作成者名を記載してください】
 * 
 * @version 【バージョンを記載してください】
 * @since 【バージョンを記載してください】
 */
@Service
public class {{classObject.pascalClassname}}Service extends ServiceBase {

    // TODO バージョン、作成者名を記入し、フォーマッターを適用後にこちらのコメントを削除してください。
    // TODO @Transactionalが必須かどうかを確認してください。更新、登録、削除を行わないAPIでは@Transactionalを削除してください。
    // TODO 未対応の型と出力されている場合は、yamlを参考に型を修正してください。

    @Autowired
    private {{classObject.pascalClassname}}Business {{classObject.camelClassname}}Business;

{{#classObject.apis}}
    /**
     * {{description}}
     * 
     {{#javadocParameters}}
     * @param {{param}} {{paramDescription}}
     {{/javadocParameters}}
     {{#existResponse}}
     * @return {{response.returnDescription}}
     {{/existResponse}}
     * @throws Exception
     * @since 【バージョンを記載してください】
     */
    // TODO @Transactional
    public {{#existResponse}}{{{response.responseValue}}}{{/existResponse}}{{^existResponse}}void{{/existResponse}} {{methodName}}({{#parameters}}{{{parameterType}}} {{parameterVariable}}{{/parameters}}) throws Exception {
        {{^existResponse}}{{classObject.camelClassname}}Business.{{methodName}}({{#parameters}}{{{parameterVariable}}}{{/parameters}});{{/existResponse}}{{#existResponse}}return {{classObject.camelClassname}}Business.{{methodName}}({{#parameters}}{{parameterVariable}}{{/parameters}});{{/existResponse}}
    }

{{/classObject.apis}}
}